.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  background-color: transparent;
  transition:
    background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.scrolled {
  background-color: var(--neutral-50);
  opacity: 0.8;
  backdrop-filter: blur(10px);
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 3.5rem;
  margin-right: 1rem;
}

.logoText {
  font-size: 1rem;
  font-weight: 500;
  color: var(--brown-500);
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@media (max-width: 768px) {
  .logoText {
    display: none;
  }
}
